main{
    margin-top: 40px;
    margin-left: 70px;
    width: 90%;
}
.grid-img{
    display: grid;
    grid-template-columns: repeat(6, 1fr );
    grid-template-rows: 25% 25% 25%;
    grid-column-gap: 30px;
    grid-row-gap: 125px;

}
.grid-img img{
    width: 270px;
    height: 250px;
    border-radius: 15px;
}